.text-custom{
    font-family: "unify sans bold";
}
.nav-link{
    opacity: 0.8;
    font-size: 18.5px;
}

.customBg{
    background-color: #1d71a5;
    padding-top:50px;
}



.customBtn{
    background-color: #175d88;
    color: rgb(255,255,255);
    font-size: 18px;
}

.signIn{
    color: black;
    border-bottom: 3px solid #1d71a5;
    font-size: 18px;
}

.customDrp{
    font-family: "unify sans";
}

.obits{
margin-left: 1%;
}

.dropLabel{
    font-family: serif;
    font-size: 26px;
    font-style: italic;
    opacity: 0.8;
}

.secondDrp{
    border: 1px solid grey;
    background-color: rgb(241, 241, 241);
    font-family: "unify sans";
    font-size: 18px;
    
}

.display {
    font-family: serif;
    font-size: 26px;
    font-style: italic;
    opacity: 0.8;
    margin-top: 5px;
   
}

.topDate{
    margin-top: 40px;
    margin-left: 12px;
    color: #1d71a5;
    font-size: 18px;
}

.name {
    font-family: serif;
    font-style: italic;
    font-size: 32px;
    margin-left: 2%;
    text-decoration: none;
    color: black;
}

.age {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgb(96, 96, 96);
    margin-left: 2%;
}

.obit {
    font-family: serif;
    font-size: 24px;
    opacity: 0.7;
   
    text-decoration: none;
    color: black;
}

.home {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgb(96, 96, 96);
    margin-left: 2%;

}

.fakeObits {
    margin-right: 26.75%;
    margin-top: 20px;
}


/* Pseudo Elements*/

.customBtn:hover{
    cursor: pointer;
    background-color: #175d88;
    color: white;
}

.signIn:hover {
    cursor: pointer;
}

.name:hover {
    cursor: pointer;
    
}

.obit {
    cursor: pointer;
}