.text-custom{
    font-family: "unify sans bold";
}
.nav-link{
    opacity: 0.8;
    font-size: 18.5px;
}

.customBg{
    background-color: #1d71a5;
    padding-top:50px;
}



.customBtn{
    background-color: #175d88;
    color: rgb(255,255,255);
    font-size: 18px;
}

.signIn{
    color: black;
    border-bottom: 3px solid #1d71a5;
    font-size: 18px;
}



/* Pseudo Elements*/

.customBtn:hover{
    cursor: pointer;
    background-color: #175d88;
    color: white;
}

.signIn:hover {
    cursor: pointer;
}